.notifications {
  .notification-toggle {
    position: relative;

    .notification-count {
      position: absolute;
      top: -3px;
      right: -5px;
      border-radius: 5px !important;
    }
  }

  .dropdown-menu {
    min-width: 300px !important;
    max-height: 400px !important;
    font-size: .85em;

    .dropdown-header {
      background-color: matColor('grey', 200);
      border-bottom: 1px solid $divider;
      text-transform: capitalize;
      font-weight: 400;
      color: matColor('grey', 900);

      .notification-count {
        font-weight: bold;

        &::before {
          content: '(';
        }

        &::after {
          content: ')';
        }
      }
    }

    .dropdown-container {
      max-height: 30em;
      overflow-y: auto;
      position: relative;

      .dropdown-content {

        &.no-notifications {
          .no-notification-message {
            display: block;
          }
        }

        .no-notification-message {
          display: none;
        }

        .dropdown-item {
          padding-left: 2em;
          padding-right: 0.5em;

          &:not(:last-of-type) {
            border-bottom: 1px solid matColor('grey', 100);
          }

          &.unread {
            background-color: matColor('grey', 50);
            position: relative;

            &::before {
              position: absolute !important;
              left: 0.9em;
              top: 0.85em;
              content: '\25CF';
              color: matColor('grey', 700);
            }
          }

          .notification-message {
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}
